
input{
width: 180px;
height: 30px;
margin-bottom: 7px;
border-radius: 10px;
border: none;
}
.calculator{
    background-color: pink;
    padding: 12px;
    border-radius: 20px;
   border: double white 9px;
   width: 280px;
   text-align: center;
}
   

button{
    font-size: 18px;
    padding: 17px;
    border-radius: 5px;
    border: none;
    background-color: #fffefe;
    cursor: pointer;
    margin-bottom: 7px;
    font-family: cursive;
}
button:hover {
    background-color: #c2bcbc;
  }
#ME{
 width:180px;
 height: 45px;
 text-align: center;
  }
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:1050px;
    background-color: #f4f4f4;
  }
  .of{
    width: 39px;
    height: 55px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
    margin-bottom: 7px;
    font-family: cursive;
    font-size: smaller;
    
  }
  .of:hover{
    background-color: green;
  }
  .m{
    font-size: 18px;
    padding: 17px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:grey;
    cursor: pointer;
    margin-bottom: 7px;
    font-family: cursive;
    font-size: small;

  }
  